{% extends "base.html" %}

{% block content %}
<!-- Page Header -->
<div class="text-center mb-5">
    <h1 class="text-primary">Hermes API - Send Email</h1>
    <p class="lead">
        Hermes is a free API to send emails using your personal API key or an EmailBot.
        It allows developers to integrate email sending functionality into their applications without setting up an email server.
    </p>
</div>

<!-- USER-LEVEL ENDPOINTS -->
<div class="mb-4">
    <h4>👤 User API Endpoints</h4>
</div>

{% include '_endpoints/_register_endpoint.html' %}

{% include '_endpoints/_send_email_endpoint.html' %}

{% include '_endpoints/_rotate_apikey_endpoint.html' %}

{% include '_endpoints/_emailbot_crud_endpoint.html' %}

{% include '_endpoints/_log_endpoint.html' %}


{% endblock %}
